@charset "utf-8";

/* 공통 스타일 정의 */

a {
    color: inherit;
    text-decoration: none;
}

input, textarea {
    outline: none;
}


/* 반복 재사용 정의 */
.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.bg-primary {
    background-color: dodgerblue;
}

.text-white {
    color: white;
}

nav li {
    padding-left: 10px;
    padding-right: 10px;
}

.active {
    background-color: black;
    border-radius: 10px;
}

form {
    max-width:  600;
    margin: 0 auto;
}

#keyword {
    text-indent: 1rem;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.gap-1 {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

#notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.note {
    background-image: url("../images/post-it2.webp");
    background-size: cover;
    width: 300px;
    height: 340px;
    flex: 0 0 300px;
}

.note-title {
    margin-top: 50px;
    margin-left: 30px;
    width: 250px
}